[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
moviepy = "*"
django-cors-headers = "*"
pip = "*"
install = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
rapidfuzz = "*"
python-dotenv = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.10"
